
.imgAnimate{

	height:200px; width:32%;
 padding:3px; border:silver solid 2px;margin:0px; border-radius:5px;

}

.imgAnimate:hover{

	height:250px; width:34%;

}


.imgGal{
	 padding:3px; border:silver solid 2px;margin:0px; border-radius:5px;

}






.newsBorder{
	background:;text-indent:30px; padding:10px; border:blue solid 1px;margin:0px; border-radius:5px; box-shadow:;
}

.newsBorder:hover{
	cursor: pointer;
	background:;text-indent:30px; padding:10px; border:white solid 1px;margin:0px; border-radius:5px; box-shadow:;
}


 li, p, h1, h2, h3, h4, h5, h6, span, ul, ol{
	white-space: 400px;
	line-height: 25px;
}


.fontTreb{
	font-family: "Trebuchet MS";

}

.fontSergueL{
	font-family: "Segoe UI Light";

}

.fontSergueB{
	font-family: "Segoe UI";

}

.fontSizeM{
	font-size: 120%;
}

.fontSizeL{
	font-size: 150%;
}

.cLogoStyle{
	height: 12%;
	width: 95px ;
}

.bgred{
	background:;
}


.csBox{
	background-color: silver;

}

.csBut{
	background-color: #0066CC;
	color: white;
	border: white solid 0px;
	padding: 6px;	

}

.csBut:hover{
	background-color:#006699;
		

}



.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}

.cWrapper{

	
	

	
}

.fColorWhite{
	color: white;

}

.webBut{
	background: #CC3300;
	color: white;
	font-family:'Segoe UI';
	font-size: ;
	border-radius: 5px ;
	padding:10px;
	border: white solid 0px;
	text-decoration:none;
	cursor: pointer;


}

.webBut-sm{
	background: #CC3300;
	color: white;
	font-family:'Segoe UI';
	font-size:80% ;
	border-radius: 5px ;
	padding:4px;
	border: white solid 0px;
	text-decoration:none;
	cursor: pointer;


}


.webBut,.webBut-sm:hover{
	background: #FF6600;
}

.webLabel-lg{
	background: #CC3300;
	color: white;
	font-family:'Trebuchet MS';
	font-size: ;
	border-radius: 0px ;
	padding:5px;
	border: white solid 0px;
	text-decoration: none;
	cursor: pointer;


}

.webLabel-lg:hover{
	background: #FF6600;
    

}


.webLabel-sm{
	background: #CC3300;
	color: white;
	font-family:'Trebuchet MS';
	font-size: 80% ;
	border-radius: 0px ;
	padding:4px 6px 4px 6px;
	border: white solid 0px;
	text-decoration: none;
	cursor: pointer;

}


.webLabel-sm:hover{
	background: #FF6600;
	text-decoration: none;
	color: white;
}

.fColorGold{
	color:  #CC3300;
}


.setFPad .selected{
	color:  #CC3300;
	margin: 2px;
	font-weight:500;
}


.setFPad li{
	margin: 2px;
	cursor: pointer;
	color: silver;
}
.setFPad li:hover{
	color: white;
}

.setFPad p i{
	margin: 4px;
}

.cLabel{
	padding: 3px;
	color: white;
	background: silver;
	border-radius: 0px;

}

.newsCard{
	background:white;
	 color:black;
	 padding:10px; 
	 margin:0px 15px 15px 15px;
	 border-left:blue solid 5px;

}

.galNav{
	color: white;
	padding: 10px;
	background: #303030;
	border-radius: 10px 10px 0 0;
	cursor: pointer;
}

.galNav:hover{
	background:  #CC3300;
}

.imgSize-sm{
	width:40px; height:40px;
}

.imgSize-md{
	width:120px; height:100px;
}

.bgWelcome{
	background:#003333;
	}
.pad-md{
	padding: 10px;
}

.pad-lg-l-r{
	padding: 50px;
}
.pad-lg-t-b{
	padding: 50px;
}

.peaker{
	position: relative;
	top: -30px ;
	left:-10px ;

}

.bgsSilver1{
	background:#C0C0C0;
}



.bgsSilver2{
	background:#585858;
}


.aboutTrigger li{
	font-family:"Trebuchet MS";
	padding: 5px;
	background:#CC3300 ;
	list-style-type: none;
	cursor: pointer;

}

.borderRadiusAll{
	border-radius: 10px;
}


.newsTrigger li a, .newsTrigger li{
	font-family:"Segoe UI";
	padding: 5px;
	list-style-type: none;
	cursor: pointer;
	text-align: left;
	font-size: 102%;


}

.newsTrigger .newsSelected{
	font-family:"Trebuchet MS";
	padding: 5px;
	list-style-type: none;
	cursor: pointer;
	background:#CC3300 ;
	text-align: center;
	text-transform: uppercase;


}


.galleryUl li,.galleryUl li a{
	font-family:"Segoe UI Light";
	padding: 5px;
	list-style-type: none;
	cursor: pointer;
	text-align: left;
	text-decoration: none;
	color: white;


}


.galleryUl li:hover{
	background:#FF6600 ;

}