
.quick-btn {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 80px;
  padding-top: 16px;
  margin: 10px;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
 
  -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
          box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
}

.quick-btn span {
  display: block;
}

.quick-btn .label {
  position: absolute;
  top: -5px;
  right: -5px;
}

.quick-btn:hover {
  color: #0053ff;
  text-decoration: none;
  
}

.quick-btn.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}





.quick-btn-text {
  position: relative;
  display: inline-block;
  width:;
  height:;
  padding-top:;
  margin:;
  text-decoration: none;
  
 
 /* -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
   //       box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;*/
}

.quick-btn-text span {
  display: block;
}

.quick-btn-text .label {
  position: absolute;
  top:5px;
  right: 3px;
}

.quick-btn-text:hover {
  color: #0053ff;
  text-decoration: none;
  
}

.quick-btn-text.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}



.quick-btn-h {
  position: relative;
  display: inline-block;
  width:;
  height:;
  padding-top:;
  margin:;
  text-decoration: none;
  
 
 /* -webkit-box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;
   //       box-shadow: 0 0 0 1px #F8F8F8 inset, 0 0 0 1px #CCCCCC;*/
}

.quick-btn-h span {
  display: block;
}

.quick-btn-h .label {
  position: absolute;
  top:-15px;
  right: 20px;
}

.quick-btn-h:hover {
  color: #0053ff;
  text-decoration: none;
  
}

.quick-btn-h.small {
  width: 40px;
  height: 30px;
  padding-top: 6px;
}




